.h6 {
  margin-top: 10px;
}

a:hover {
  text-decoration: none !important;
}

.single {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.description {
  margin-top: 20px;
  text-align: center;
  border-style: double;
  border-width: 5px;
  border-color: #000051;
}

.buttons {
  text-align: center;
  margin-bottom: 10px;
  margin-right: 50px;
}

.how {
  text-align: center;
  font-family: Georgia;
  font-size: 30px;
  color: #0000ff;
  margin-top: 20px;
  background-color: #c5e3ff;
  margin-left: 300px;
  margin-bottom: 20px;
}

.cards {
  margin-top: 40px;
  font-size: 18px;
  border-radius: 50px;
}

.ingre {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  border-style: double;
  border-width: 5px;
  border-color: #000051;
}

.list {
  text-align: center;
  font-size: 18px;
  border-style: double;
  border-width: 5px;
  border-color: #000051;
}

.typo {
  margin-top: 30px;
  text-align: center;
  background-color: #88a4f8;
  margin-bottom: 1000px;
  font-family: Georgia !important; /* WTF czemu to nie dziala? cos nadpisuje? */
  border-radius: 30px;
}

.text {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: Georgia;
  text-align: center;
  font-size: 30px;
  color: #0000ff;
}

.MuiListItem-root {
  text-align: center !important;
  justify-content: center !important;
  margin-top: 10px !important;
  font-size: 20px !important;
  color: black !important;
}
.item-nav:hover {
  background-color: #0000ff !important;
}

button {
  outline: none !important;
}

.tips {
  text-align: left;
  border-radius: 25px;
}

.all {
  background-color: #c5e3ff;
}

html {
  background-color: #c5e3ff;
}

.intro {
  font-family: Georgia;
  text-align: center;
  font-size: 20px;
  color: #0000ff;
  margin-top: 20px;
}

.photo {
  height: 100px;
  width: 150px;
  border-radius: 5px;
}

.photos {
  width: 100%;
  border-radius: 5px;
  -ms-background-position-x: center;
}

.sauces {
  text-align: center;
  font-family: Georgia;
  font-size: 30px;
  color: #0000ff;
  margin-top: 20px;
  background-color: #c5e3ff;
  list-style-type: none !important;
}

.wstep {
  margin-bottom: 50px;
}

.timer {
  margin-top: 50px;
}

.user {
  right: 0px;
  position: absolute;
}

.start {
  margin-top: 20px;
  margin-bottom: 20px;
}

.MuiAppBar-colorPrimary {
  background-color: #1e8ee3 !important;
}

.MuiMenuItem-root {
  background-color: #95c8ee !important;
}
